<nav>
    <ul>
        <li>
            <a href="{{baseUrl}}/login">Login</a>
        </li>
        <li>
            <a href="{{baseUrl}}/schedule">Schedule</a>
        </li>
        <li>
            <a href="{{baseUrl}}/store">Store</a>
        </li>
    </ul>
</nav>
