<nav class="nav-account">
    <a class="nav-account__item" href="{{baseUrl}}/account/">
        Account
    </a>

    <a class="nav-account__item" href="{{baseUrl}}/account/classes/">
        Classes
    </a>

    <a class="nav-account__item" href="{{baseUrl}}/account/purchases/">
        Purchases
    </a>
</nav>
