<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__title" href="{{baseUrl}}/locations/">
                Locations
            </a>

            {# <ul>
                {% for location in locations %}
                    <li>
                        <a href="{{baseUrl}}/location/{{location.regionId}}/{{location.locationId}}/">
                            {{ location.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul> #}
        </li>

        <li class="nav__item">
            <div class="mariana-who-am-i-binding"
                data-mariana-account-redirect-url="{{baseUrl}}/account/"
                data-mariana-login-redirect-url="{{baseUrl}}/login/"
                data-mariana-signup-redirect-url="{{baseUrl}}/register/"
                ></div>
        </li>
    </ul>
</nav>
