<nav>
    <ul>
        <li>
            <a href="{{baseUrl}}/account/">
                My Account
            </a>
        </li>

        <li>
            <a href="{{baseUrl}}/account/classes/">
                My Classes
            </a>
        </li>

        <li>
            <a href="{{baseUrl}}/account/purchases/">
                My Purchases
            </a>
        </li>
    </ul>
</nav>
