<nav class="nav-account">
    <a
        class="nav-account__item{{' nav-account__item--active' if isAccountPage}}"
        href="{{baseUrl}}/account/"
    >
        Account
    </a>

    <a
        class="nav-account__item{{' nav-account__item--active' if isClassesPage}}"
        href="{{baseUrl}}/account/classes/"
    >
        Classes
    </a>

    <a
        class="nav-account__item{{' nav-account__item--active' if isPurchasesPage}}"
        href="{{baseUrl}}/account/purchases/"
    >
        Purchases
    </a>
</nav>
