{% extends "default.njk" %}

{% block content %}
    {% include "partials/nav-account.njk" %}

    <div class="mariana-reservations-all-binding" data-mariana-schedule-redirect-url="/schedule/#/week/"></div>
{% endblock %}
