{% extends "default.njk" %}

{% block content %}
    <header class="page-header">
        <h1 class="color--primary">
            Welcome to {{siteTitle}}!
        </h1>

        <h2 class="color--lowlight">
            Pick a location to book a class or purchase passes
        </h2>
    </header>

    <ul class="L_locations">
        {% for location in locations %}
            <li class="location-card">
                <h1 class="type--h2 location-card__title">
                    {{ location.name }}
                </h1>

                <div class="location-card__links">
                    <a class="location-card__link" href="{{baseUrl}}/schedule/{{location.regionId}}/{{location.locationId}}/">
                        Book a class
                    </a>

                    <a class="location-card__link" href="{{baseUrl}}/purchase/{{location.locationId}}/">
                        Purchase passes
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
