{% extends "default.njk" %}

{% block content %}
    <div>
        <h3>
            Schedule
        </h3>

        <ul>
            {% for location in locations %}
                <li>
                    <a href="{{baseUrl}}/schedule/{{location.regionId}}/{{location.locationId}}/">
                        {{ location.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>
            Purchase
        </h3>

        <ul>
            {% for location in locations %}
                <li>
                    <a href="{{baseUrl}}/purchase/{{location.locationId}}/">
                        {{ location.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
