{% extends "default.njk" %}

{% block content %}
    <div class="mariana-login-form-binding"
        data-mariana-auth-redirect-url="{{baseUrl}}/account/"
        data-mariana-auth-register-url="{{baseUrl}}/register/"
        data-mariana-forgot-password-redirect-uri="{{baseUrl}}/default/login/"></div>
{% endblock %}
