{% extends "default.njk" %}

{% block content %}
    <p>
        Don't have an account? <a href="{{baseUrl}}/register/">Register here</a>.
    </p>

    <div class="mariana-login-form-binding"></div>
{% endblock %}
