{% extends "default.njk" %}

{% block content %}
    <div class="mariana-customer-register-binding"
        data-mariana-login-redirect-url="{{baseUrl}}/login/"
        data-mariana-redirect-url="{{baseUrl}}/account/"
        data-mariana-terms-of-service-url="{{baseUrl}}/terms-of-service/"></div>
{% endblock %}
