{% extends "default.njk" %}

{% block content %}
    <div class="mariana-customer-register-binding"
        data-mariana-redirect-url="{{baseUrl}}/"
        data-mariana-terms-of-service="{{baseUrl}}/terms-of-service/"></div>
{% endblock %}
