{% extends "default.njk" %}

{% block content %}
    <div id="mariana-schedule-week-routable-binding"
        data-mariana-buy-page-url="{{baseUrl}}/purchase/{{locationId}}/"
        data-mariana-location-id="{{locationId}}"
        data-mariana-login-redirect-url="{{baseUrl}}/login/"
        data-mariana-my-purchase-url="{{baseUrl}}/account/classes/"
        data-mariana-region-id="{{regionId}}"
        data-mariana-pas-sizes='[
            {
                "screenWidth": 500,
                "spotDistance": 30,
                "spotHeight": 20,
                "spotWidth":20
            },
            {
                "screenWidth": 2000,
                "spotDistance": 70,
                "spotHeight": 60,
                "spotWidth": 60
            },
            {
                "screenWidth": 1000,
                "spotDistance": 50,
                "spotHeight": 40,
                "spotWidth": 40
            },
            {
                "screenWidth": 750,
                "spotDistance": 40,
                "spotHeight": 30,
                "spotWidth": 30
            }
        ]'
    ></div>
{% endblock %}
