{% extends "default.njk" %}

{% block content %}
    <div class="mariana-product-buy-list-binding"
        data-mariana-giftcard="true"
        data-mariana-location-id="9608"
        data-mariana-login-redirect-url="{{baseUrl}}/login/"
    ></div>
{% endblock %}
