<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{siteTitle}} | {{pageTitle}}</title>

        {# favicon suite

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff5271">
        <meta name="theme-color" content="#ffffff">

        #}

        {# styles #}
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <a href="{{baseUrl}}/">
                <h1>
                    {{siteTitle}}
                </h1>
            </a>

            {% include "partials/nav-main.njk" %}
        </header>

        {% if pageTitle %}
            <h2>
                {{pageTitle}}
            </h2>
        {% endif %}

        {% block content %}{% endblock %}

        <footer>
            <p>
                endpoint: {{endpoint if endpoint else 'cousteau-r45kxk'}}
            </p>
            <p>
                version: {{version if version else "*.*.*"}}
            </p>

            <p>
                <a href="/">Instructions</a>
            </p>
        </footer>
    </body>

    <script>
        var MT_CONFIG = {
            clientId: 'VU_wQE0McPrlLp!gVZb;nVG=8IWSEQ?9UGAFqOAa',
            clientKey: 'b0-VNdJKy7a=WRx7oK-fW!r=X1wcs!P9QudmAxvrA40jIPu-9aA52K6!Hf-oy:j!uB-qrw?b3Cf4nwSi1amgBqMg3PjCjyX.mhNFZjguuj0DqY;Mt5JD@=KEY78U0?q;',
            subDomain: '{{endpoint}}',
        };
    </script>
    <script src="https://mtproduction.control.marianatek.com/lib/mariana_web_components.js?semver={{version}}" charset="utf-8"></script>
</html>
