<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <script>
        var MT_CONFIG = {
            clientId: 'S)xTY*SWVE7va\"Sv7W;yKf518LhA&jd4)%;Ln02I',
            clientKey: 'L8:PYm?meMVdhaUhcX)diszWpB7(5*bBEbyfuYn5$j6kigE4)ssBz:rpww+u49tehi\"yTIIQLj%nrGB)Jzct$%SNbq$i*w5)%b7Cwm&KMJc)1Nu*Web9q&oSBqqXg)km',
            subDomain: '{{endpoint if endpoint else 'cousteau-r45kxk'}}',
        };
    </script>
    <script src="https://mtproduction.control.marianatek.com/lib/mariana_web_components.js?semver={{version if version else "*.*.*"}}" charset="utf-8"></script>
</html>
