{% extends "default.njk" %}

{% block content %}
    <h1>
        endpoint: {{endpoint if endpoint else 'cousteau-r45kxk'}}
    </h1>
    <h1>
        version: {{version if version else "*.*.*"}}
    </h1>

    <div class="mariana-login-form-binding"></div>
{% endblock %}
