<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Mariana Components Demo</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1>
                Mariana Components Demo
            </h1>
        </header>

        <article>
            <p>Welcome to the Mariana Web Components Demonstration site. The following patterns provide a range of options for testing and demonstrating Mariana's Web Components.</p>

            <ul>
                <li>
                    <a href="/default">Default</a>
                </li>
                <li>
                    <a href="/endpoint/demo-n9c5fm">Endpoint Example</a> (<code>/endpoint/[endpoint]</code>)
                </li>
                <li>
                    <a href="/version/2.0.45">Version Example</a> (<code>/version/[version]</code>)
                </li>
                <li>
                    <a href="/demo-n9c5fm/2.0.45">Endpoint and Version Example</a> (<code>/[endpoint]/[version]</code>)
                </li>
            </ul>
        </article>
    </body>
</html>
