// ==============
// Cousteau Theme
// ==============

$colors: (
    text: #000,
    border: #979797,
    lowlight: #aaaaaa,
    primary: #76C4BB,
    secondary: #63518F,
    danger: hsl(0, 74%, 50%),
    inverse: hsl(0, 0%, 100%)
);

$font-family-default: 'Lato', sans-serif;

// ====================
// ====================
// Begin Theme Examples
// ====================
// ====================

// quick and dirty theming switch out, future updates should make this more dynamic

// ===========
// Biker Barre
// ===========

// $colors: (
//     text: #000,
//     border: #979797,
//     lowlight: #aaaaaa,
//     primary: red,
//     secondary: #333333,
//     danger: hsl(0, 74%, 50%),
//     inverse: hsl(0, 0%, 100%)
// );
//
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
//
// $font-family-default: 'Open Sans', sans-serif;

// =======
// Barry's
// =======
//
// $colors: (
//     text: #000,
//     border: #979797,
//     lowlight: #aaaaaa,
//     primary: #FF4400,
//     secondary: #C29F58,
//     danger: hsl(0, 74%, 50%),
//     inverse: hsl(0, 0%, 100%)
// );
//
// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
//
// $font-family-default: 'Open Sans Condensed', sans-serif;

// ======================
// Imagined Light on Dark
// ======================

// $colors: (
//     text: hsl(0, 0%, 100%),
//     border: #aaaaaa,
//     lowlight: #5c5c5c,
//     primary: #0066ff,
//     secondary: #5ea844,
//     danger: hsl(0, 74%, 50%),
//     inverse: #000
// );

// ==========
// End Themes
// ==========

// ==================
// ==================
// End Theme Examples
// ==================
// ==================


$border-default: 1px solid color(border);
