$colors: (
    border: #979797,
    lowlight: #aaaaaa,
    primary: #76C4BB,
    secondary: #63518F,
    danger: hsl(0, 74%, 50%),
    inverse: hsl(0, 0%, 100%)
);

$border-default: 1px solid color(border);
