@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body {
    background-color: #F6F5F6;
    display: grid;
    font-family: 'Lato', sans-serif;
    grid-template-areas:
        "header header header"
        ". main ."
        ". footer ."
    ;
    grid-template-columns: minmax(.5em, auto) minmax(min-content, 65em) minmax(.5em, auto);
    grid-template-rows: 3em;
    margin: 0;
}

main {
    grid-area: main;
    margin: 3em 0 4em;
}

// type

a {
    color: color(secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: .2em;
}

p + p {
    margin-top: 1em;
}

// inputs

button {
    font-family: inherit;
    border: none;
    border-radius: .5em;
}
