@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body {
    background-color: #F6F5F6;
    display: grid;
    font-family: 'Lato', sans-serif;
    grid-template-areas:
        "header header header"
        ". main ."
        ". footer ."
    ;
    grid-template-columns: minmax(.5em, auto) minmax(min-content, 65em) minmax(.5em, auto);
    grid-template-rows: 3em;
    margin: 0;
}

.header {
    background-color: white;
    grid-area: header;
}

main {
    grid-area: main;
    margin: 3em 0 4em;
}

footer {
    grid-area: footer;
}
