@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body {
    display: grid;
    font-family: 'Lato', sans-serif;
    grid-template-areas:
        "header header header"
        ". main ."
        ". footer ."
    ;
    grid-template-columns: minmax(.5em, auto) minmax(max-content, 65em) minmax(.5em, auto);
    grid-template-rows: 3em;
    margin: 0;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: 1em 0 4em;
}

footer {
    grid-area: footer;
}
