.nav-account {
    display: flex;
    margin-bottom: 2em;
}

.nav-account__item {
    color: color(text);
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;

    @media #{$mq-sc-sm} {
        font-size: 1.5em;
    }

    & + & {
        margin-left: 1em;
    }

    &--active {
        border-left: .25em solid color(primary);
        padding-left: .5em;
    }
}
